.hero-image {
    background-color: aquamarine;
}

.hero-title { 
color: rgb(199, 18, 235);
}

@media only screen and (min-width: 1158px) {
    .hero-image {
        background-image: url(../img/hero.img/more.jpeg);
    }
}