.hero-image {
    background-color: aquamarine;
}

.hero-title { 
color: rgb(213, 235, 18);
}

@media only screen and (min-width: 1158px) {
    .hero-image {
        background-image: url(../img/hero.img/more.jpeg);
    }
}