.swiper {
    width: 600px;
    height: 300px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: rgb(186, 14, 238);
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    width: 30px;
    height: 30px;
    background-color: rgb(122, 238, 14);
    opacity: 0.5;
}